# Feature engineering
- Create 2nd and 3rd polynomials for 'hd'
- combine 'cd' and 'multi' features: if 'cd' and 'multi' equal to 'yes' then1 , 0 otherwise
- bin ram values into '<=4', '8', '16'
- create dummy variables for any categorical columns

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm

In [6]:
computers = pd.read_csv('../Course Materials/Data/Computers.csv')
computers.head()

   price  speed   hd  ram  screen  cd multi premium  ads  trend
0   1499     25   80    4      14  no    no     yes   94      1
1   1795     33   85    2      14  no    no     yes   94      1
2   1595     25  170    4      15  no    no     yes   94      1
3   1849     25  170    8      14  no    no      no   94      1
4   3295     33  340   16      14  no    no     yes   94      1

In [7]:
# polynomial terms
computers['hd_sq'] = computers['hd']**2
computers['hd_cube'] = computers['hd']**3
computers.head()

,price,speed,hd,ram,screen,cd,multi,premium,ads,trend,hd_sq,hd_cube
0,1499,25,80,4,14,no,no,yes,94,1,6400,512000
1,1795,33,85,2,14,no,no,yes,94,1,7225,614125
2,1595,25,170,4,15,no,no,yes,94,1,28900,4913000
3,1849,25,170,8,14,no,no,no,94,1,28900,4913000
4,3295,33,340,16,14,no,no,yes,94,1,115600,39304000

In [9]:
# combine cd and multi
computers['ports'] = np.where((computers['cd']=='yes') & (computers['multi']=='yes'), 1, 0)

In [10]:
computers.head()

,price,speed,hd,ram,screen,cd,multi,premium,ads,trend,hd_sq,hd_cube,ports
0,1499,25,80,4,14,no,no,yes,94,1,6400,512000,0
1,1795,33,85,2,14,no,no,yes,94,1,7225,614125,0
2,1595,25,170,4,15,no,no,yes,94,1,28900,4913000,0
3,1849,25,170,8,14,no,no,no,94,1,28900,4913000,0
4,3295,33,340,16,14,no,no,yes,94,1,115600,39304000,0

In [4]:
# binning

ram_dict ={
    2: '<=4', 
    4: '<=4',
    8: '8',
    16: '16'
}

computers['ram_categories'] = computers['ram'].map(ram_dict)
computers.head()

,price,speed,hd,ram,screen,cd,multi,premium,ads,trend,hd_sq,hd_cube,ram_categories
0,1499,25,80,4,14,no,no,yes,94,1,6400,512000,<=4
1,1795,33,85,2,14,no,no,yes,94,1,7225,614125,<=4
2,1595,25,170,4,15,no,no,yes,94,1,28900,4913000,<=4
3,1849,25,170,8,14,no,no,no,94,1,28900,4913000,8
4,3295,33,340,16,14,no,no,yes,94,1,115600,39304000,16

In [5]:
# dummy variables

computers = pd.get_dummies(computers, drop_first=True)
computers

,price,speed,hd,ram,screen,ads,trend,hd_sq,hd_cube,cd_yes,multi_yes,premium_yes,ram_categories_8,ram_categories_<=4
0,1499,25,80,4,14,94,1,6400,512000,False,False,True,False,True
1,1795,33,85,2,14,94,1,7225,614125,False,False,True,False,True
2,1595,25,170,4,15,94,1,28900,4913000,False,False,True,False,True
3,1849,25,170,8,14,94,1,28900,4913000,False,False,False,True,False
4,3295,33,340,16,14,94,1,115600,39304000,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6254,1690,100,528,8,15,39,35,278784,147197952,False,False,True,True,False
6255,2223,66,850,16,15,39,35,722500,614125000,True,True,True,False,False
6256,2654,100,1200,24,15,39,35,1440000,1728000000,True,False,True,False,False
6257,2195,100,850,16,15,39,35,722500,614125000,True,False,True,False,False
6258,2490,100,850,16,17,39,35,722500,614125000,True,False,True,False,False