In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [2]:
insurance_df = pd.read_csv('../Course Materials/Data/insurance.csv')
insurance_df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
insurance_df.corr(numeric_only=True)

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [4]:
insurance_df = insurance_df.assign(
    smoker_flag = np.where(insurance_df['smoker'] == 'yes', 1,0),
    age_sq = insurance_df['age']**2,
    age_bmi_sum = insurance_df['age'] + insurance_df['bmi']
)

In [5]:
features =[
    'age',
    'age_sq',
    'bmi',
    'children',
    'smoker_flag',
    'age_bmi_sum'
]

In [6]:
X = sm.add_constant(insurance_df[features])
y = insurance_df['charges']

In [7]:
X, X_test, y, y_test = train_test_split(X, y, test_size=.2, random_state=42)